standalone.sso/configuration/logging.properties
standalone.sso/configuration/standalone_xml_history/
standalone.sso/data/
standalone.sso/deployments/
standalone.sso/lib/
standalone.sso/log/
standalone.sso/tmp/

domain.sso/configuration/*logging.properties
domain.sso/configuration/domain_xml_history/
domain.sso/configuration/host_xml_history/
domain.sso/data/
domain.sso/log/
domain.sso/servers/
domain.sso/tmp/

service-jee-jaxrs/target/

standalone.api/configuration/logging.properties
standalone.api/configuration/standalone_xml_history/
standalone.api/data/
standalone.api/deployments/
standalone.api/lib/
standalone.api/log/
standalone.api/tmp/

app-jee-jsp/target/

standalone.web/configuration/logging.properties
standalone.web/configuration/standalone_xml_history/
standalone.web/data/
standalone.web/deployments/
standalone.web/lib/
standalone.web/log/
standalone.web/tmp/

**/.classpath
**/.project
**/.settings/
**/.tern-project
